body {
  margin: 0px;
  height: 100vh;
}
:root {
  height: 100%;
  --color-1: #f6b63b;
  --color-2: #455154;
}

.ant-layout-header {
  height: 40px;
  line-height: 40px;
}

/* .ant-upload {
  width: 200px;
  height: 100px;
} */
.ant-upload-list-item-image {
  object-fit: cover !important;
}
/* .ant-upload-list-item-container {
  height: 100px;
  width: 200px;
} */

.bar-table-name {
  background: #dbdbdb;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  padding: 12px;
  margin-top: 15px;
  margin-bottom: 5px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.trigger {
  display: flex;
  justify-content: space-between;
}

.logo-text-color1 {
  color: var(--color-1);
}

.logo-text-color2 {
  color: var(--color-2);
}

.login-layout {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.login-layout-inner {
  height: 500px;
}

.login-form {
  max-width: 600px;
  width: 400px;
  margin-top: 12px;
  border-radius: 12px;
  background: rgb(69, 81, 84);
  padding: 24px 30px 30px;
}

.ant-btn-primary {
  background: #ffffff;
  color: #000000;
  border-radius: 20px;
}

.seat {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 70px;
  min-width: 80px;
  border-radius: 8px;
  cursor: pointer;
  max-width: 100px;
}

.seat-mobile {
  display: flex;
  align-items: center;
  justify-content: center;

  min-width: 70px;
  border-radius: 8px;
  cursor: pointer;
  max-width: 70px;
}

.mention {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 60px;
  min-width: 70px;
  border-radius: 8px;
  cursor: pointer;
  max-width: 90px;
}

.grid-container {
  margin: 5px;
  display: grid;
  max-width: 600px;
  overflow: auto;
  grid-template-columns: auto auto auto auto auto;
}

.grid-item {
  padding: 4px;
  text-align: center;
}

.reserv-container {
  height: 100%;
  padding: 0px 50px 50px 50px;
  overflow: auto;
}

.reserv-box {
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
  padding: 10px 1rem 10px 1rem;
  border: 1px solid #000000;
  border-radius: 12px;
  background: #edeef0;
  overflow: auto;
  min-height: 80vh;
  max-height: 80vh;
}

.circle.big {
  width: 200px;
  height: 200px;
  background-color: #d9d9d9;
  margin: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle {
  border-radius: 50%;
  width: 50px;
  height: 50px;

  display: inline-block;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}

.one {
  top: -60px;
  left: 70px;
}

.two {
  right: -20px;
  top: -35px;
}

.three {
  bottom: 110px;
  right: -65px;
}

.four {
  bottom: 35px;
  right: -60px;
}

.five {
  right: -20px;
  bottom: -35px;
}

.six {
  bottom: -65px;
  left: 75px;
}

.seven {
  bottom: -35px;
  left: -20px;
}

.eight {
  bottom: 35px;
  left: -60px;
}

.nine {
  left: -65px;
  bottom: 110px;
}

.ten {
  left: -20px;
  top: -35px;
}

.app-mobile {
  font-family: "FC Subject Rounded [Non-cml.]";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  background-color: #455154;
  width: 100%;
  height: 100%;
}

.mobile {
  scroll-behavior: smooth !important;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.html-mobile {
  height: 100%;
  margin: 0% auto;

  max-width: 414px;
  overflow: auto;
}

.body-mobile {
  -ms-overflow-style: none; /* for Internet Explorer, Edge */
  scrollbar-width: none; /* for Firefox */
  overflow-y: hidden;
  display: flex;
  box-sizing: border-box;
  background-color: #ffffff;
  /* max-width: 100%; */
  -webkit-box-align: center;

  /* align-items: center; */
  min-width: 0px;
  min-height: 0px;
  flex-direction: column;
  -webkit-box-pack: center;
  justify-content: center;
}

.myBubbleUI {
  width: 100%;
  /* max-width: 500px; */
  height: 100vh;
  background-color: blueviolet;
}

.child {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.childComponent {
  width: 100%; /* width expands to fit bubble */
  height: 100%; /* width expands to fit bubble */
  border-radius: 50%; /* rounded border forms a circle */
  background-color: burlywood;
  display: flex;
  align-items: center;
  justify-content: center;
}

.center-abs {
  padding: 20px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media only screen and (max-width: 574px) {
  .reserv-box {
    display: block;
  }
}

._1Lxpd {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

/* Hide scrollbar for Chrome, Safari and Opera */
._2MD0k::-webkit-scrollbar {
  display: none;
}

._376IX {
  position: relative;
  height: 50%;
  width: 100%;
}

._3bAl3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 50%;
  padding-right: 50%;
  box-sizing: content-box;
}

._1iLpS {
  display: flex;
  flex-direction: row;
}

._2gu6r {
  display: flex;
  justify-content: center;
  align-items: center;
}

._3cleF {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  /* overflow: hidden; */
}

._3cleF > * {
  width: 100% !important;
  height: 100%;
}

._2SNHQ {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  pointer-events: none;
}

._2pju2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 2px solid rgba(0, 0, 0, 0.1);
  background-color: rgba(0, 0, 0, 0.12);
}

._2MD0k {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow: scroll !important;
  scroll-padding: 100px 0 0 100px;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
